---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&display=swap');

$pink-bg: rgb(251, 234, 251);
$pink-fg: rgb(236, 0, 140);
$blue-fg: rgb(0, 154, 222);
$blue-fg-60: rgba(0, 154, 222, .6);
$green-fg: rgb(169, 207, 56);
$purple-bg: rgb(74, 61, 84);
$black: rgb(35, 31, 32);
$white: rgb(255, 255, 255);
$grey: rgb(229, 229, 229);

/* * * * * * * * * * * * * * * */
/* * * * * GENERAL * * * * * * */
/* * * * * * * * * * * * * * * */

h1, h2 {
    font-family: 'Bungee Inline', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
}

h2 {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

a {
    display: flex;

    &:hover {
        cursor: pointer;
        font-weight: 400;
        opacity: .6;
    }

    &.switch-style {
        display: flex;
        position: fixed;
        right: 20px;
        top: 20px;

        div {
            border-radius: 100%;
            height: 15px;
            width: 15px;

            &:first-child {
                background-color: $purple-bg;
                margin-right: -5px;
            }

            &:last-child {
                background-color: $pink-bg;
            }
        }
    }

    &.toTop {
        background-color: $grey;
        bottom: 20px;
        border-radius: 100%;
        height: 30px;
        justify-content: center;
        line-height: 30px;
        position: fixed;
        right: 20px;
        width: 30px;
    }

    &.color {
        display: none;
    }
}

.guide-list,
header ul {
    background: none;
    border: none;
    width: auto;

    li {
        border: none;
        float: none;
        width: 270px;

        + li {
            margin-top: 10px;
            width: 270px;

            + li {
                width: 270px;
            }
        }
    }
}

header {
    h2 {
        margin-bottom: 0;
        text-align: left;

        &:nth-child(2) {
            opacity: .6;
        }

        &:nth-child(3) {
            margin-bottom: 40px;
            opacity: .3;
        }
    }
}

section {
    ul {
        li + li {
            margin-top: 5px;
        }
    }

    .section-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 40px 0 20px 0;

        &.prev-false {
            flex-direction: row-reverse;
        }
    }
}


.color {
    .switch-style {
        div {
            &:first-child {
                background-color: $white;
            }

            &:last-child {
                background-color: $black;
            }
        }
    }

    header {
        h2 {
            color: $blue-fg;
        }


        .btn {
            a {
                border: solid 2px $blue-fg;
                color: $blue-fg;
            }
        }
    }

    a {
        &.bw {
            display: none;
        }

        &.color {
            display: flex;
        }
    }

    section {
        .section-nav {
            .btn a {
                border-color: $pink-fg;
                color: $pink-fg;
            }
        }
    }

    footer {
        strong,
        svg {
            color: $green-fg;
            fill: $green-fg;
        }
    }
}

.btn {
    a {
        border: solid 2px $black;
        border-radius: 0;
        color: $black;
        font-size: 16px;
        font-family: 'Bungee Inline', sans-serif;
        height: 16px;
        line-height: 16px;
        justify-content: center;
        max-width: 270px;
        opacity: 1;
        padding: 8px;
        text-transform: uppercase;

        &:hover {
            opacity: .6;
            text-decoration: none;
        }
    }

}

footer {
    p {
        line-height: 12px;
        margin: 0;

        + p {
            margin: 10px 0;
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        li + li {
            margin-left: 10px;
        }
    }
}

/* * * * * * * * * * * * * * * */
/* * * * LANDING PAGE  * * * * */
/* * * * * * * * * * * * * * * */

.landing {
    header {
        li a {
            border-radius: 0;
        }

        .all-guides {
            display: none;
        }
    }

    section {
        h2 {
            margin-bottom: 40px;
        }

        p a {
            color: $green-fg;
            text-decoration: underline;
        }

        .guide-list {
            align-items: center;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: 30px;
            padding: 0;

            li + li {
                margin-top: 20px;
            }
        }
    }

    &.color {
        background-color: $purple-bg;;

        section {
            h1, h2 {
                color: $pink-fg;
            }

            p, ul {
                color: $green-fg;
            }
        
            ul {
                .btn a {
                    border-color: $pink-fg;
                    color: $pink-fg;
                }
            }

        }
    }
}

/* * * * * * * * * * * * * * * */
/* * * * * * * TOC * * * * * * */
/* * * * * * * * * * * * * * * */

.toc {
    h3 {
        font-family: 'Bungee Inline', sans-serif;
        text-transform: uppercase;
    }

    ol {
        padding-left: 10px;
    
        li {
            border: none;
            float: none;
            height: auto;
            width: 225px;
        }
    }
}

.color .toc {
    h3,
    ol {
        color: $pink-fg;

        a li {
            color: $pink-fg;
        }
    }
}

/* * * * * * * * * * * * * * * */
/* * * * * CHECKLIST * * * * * */
/* * * * * * * * * * * * * * * */

.checklist-before {
    list-style-type: circle;
}

table {
    tbody {
        vertical-align: text-top;
    }

    td {
        font-weight: 600;

        ul {
            font-weight: 400;
            padding-left: 18px;
        }

        &:nth-child(2) {
            border-left: solid 1px $grey;
            border-right: solid 1px $grey;
        }
    }

    tr {
        &:first-child {
            font-size: 16px;
            font-weight: 600;
        }

        &:last-child td {
            border-bottom: none;
        }
    }
}

.color {
    table {
        border-color: $blue-fg;
    }

    td {
        color: $blue-fg;
        border-color: $blue-fg;


        &:nth-child(2) {
            border-color: $blue-fg;
        }
    }

    tr {
        &:first-child {
            color: $blue-fg;
        }
    }
}

.checklist-list {
    display: none;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    padding: 0;

    ul {
        border-top: solid 1px $grey;
        font-size: 14px;
        font-weight: 400;
        list-style-type: disc;
        margin-top: 10px;
        padding-top: 10px;
    }
}

.color .checklist-list {
    color: $blue-fg;

    ul {
        border-color: $blue-fg;
        color: $black;
    }
}

.asterik {
    font-size: 12px;
}


/* * * * * * * * * * * * * * * */
/* * * * GUIDE PAGES * * * * * */
/* * * * * * * * * * * * * * * */

.page {
    p, ul {
        color: $black;

        a {
            display: inline;
        }
    }

    em {
        font-size: 13px;

        a {
            text-decoration: underline;
        }
    }

    section {
        hr {
            margin: 40px 0;
        }

        h1 + p {
            margin-top: -10px;
            text-align: center;
        }

        h3:not(.nlg-box) {
            border-bottom: solid 1px $grey;
            margin-top: 40px;
        }
    }

    .nlg-box {
        background-color: $grey;
        padding: 15px;

        a {
            justify-content: center;

            &:hover {
                font-weight: 700;
            }
        }
    }

    &.color {
        background-color: $pink-bg;

        .toTop {
            color: $blue-fg;
        }

        section {
            h1, h2  {
                color: $pink-fg;
            }

            em {
                color: $green-fg;

                a {
                    color: $green-fg;
                }
            }

            strong {
                color: $pink-fg;

                a {
                    color: $pink-fg;
                }
            }

            h3 {
                border-bottom: solid 1px $blue-fg-60;
                color: $blue-fg;
            }

            h4 {
                color: $blue-fg;
            }

            .nlg-box {
                border: solid 2px $green-fg;

                a {
                    color: $green-fg;
                }
            }
        }
    }
}


/* * * * * * * * * * * * * * * */
/* * * * MEDIA QUERIES * * * * */
/* * * * * * * * * * * * * * * */
@media print, screen and (min-width: 960px) {
    .page {
        section {
            width: 600px;
        }
    }

    footer {
        max-width: 200px;
    }
}

@media print, screen and (max-width: 960px) {
    a.switch-style {
        top: 10px;
        right: 10px;

        div {
            height: 10px;
            width: 10px;
        }
    }

    a.toTop {
        top: 10px;
        right: 10px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-right: 0;

        h2 {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }

    .landing {
        header {
            .all-guides {
                display: block;
            }

            .guide-list {
                display: none;
            }
        }

        section {
            padding-top: 40px;
        }
    }

    .page {
        header {
            padding-bottom: 10px;
        }

        .checklist-list {
            display: block;
        }

        table {
            display: none;
        }
    }

    .toc {
        display: flex;
        flex-flow: column;
        width: 350px;

        h3 {
            margin-bottom: 10px;
        }

        ol {
            display: flex;
            flex-flow: column wrap;
            font-size: 13px;
            height: 80px;
            margin-bottom: 0;
            
            a li {
                max-width: 160px;
                width: fit-content;
            }

            &.is-local-false {
                height: 70px;
            }
        }
    }
}

@media print, screen and (max-width: 530px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 0;

        h2 {
            display: none;

            &:first-child {
                display: block;
                margin-bottom: 20px;
            }
        }
    }

    .landing {
        header {
            flex-direction: row;
            padding-bottom: 0;
            padding-top: 10px;

            .all-guides {
                max-width: 135px;
            }
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .landing {    
        section {
            padding-top: 20px;
        }
    }

    .page {
        section {
            hr {
                margin: 20px 0;
            }

            .prev,
            .next {
                a {
                    font-size: 14px;
                    height: auto;
                    max-width: 125px;
                    text-align: center;
                }
            }
        }
    }

    .nlg-box {
        margin: auto;
        margin-bottom: 15px;
        text-align: center;
        width: 250px;
    }
}
