<h1 id="before_you_go">Before You Go Checklist</h1>
{% if page.isLocal %}
<p>
    <a href="https://gateway.pinata.cloud/ipfs/QmV6v535HNBciPCX1pssMiRkF2ctzCtVDyv5vrUC1J4iQ1">Download as PDF</a>
</p>
{% else %}
<p>
    <a href="https://gateway.pinata.cloud/ipfs/QmSPgEMCi7hwLYULvGmUc99q8JDBpEfCbdc3MV9jos2nYM">Download as PDF</a>
</p>
{% endif %}
{% if page.isLocal %}
<h3 class="nlg-box"><a href="https://portlandnlg.org/">Portland NLG Jail Support: 971-247-1072</a></h3>
{% endif %}
<ul class="checklist-before">
    <li>Review your rights as a protestor (see next section)</li>
    <li>Asses the risk level of the event. Know that any event has the potential to attract aggressors, from inconvenienced
    drivers to intentional menacing from white supremacists. Risk level can change rapidly based on these outside
    influences.</li>
    <li>Let someone who won’t be at the event know where you’re going and what do to in case of arrest or injury</li>
    <li>Pack any supplies you might need based on the risk level of the event</li>
</ul>
<table class="checklist-table">
    <tbody>
        <tr>
            <td>Lower Risk</td>
            <td>Moderate Risk</td>
            <td>High Risk</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Family and kid centered events</li>
                    <li>Day time events in low traffic or supportive areas</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Day time events in high traffic or contentious areas</li>
                    <li>Day time events that may attract individual aggressors</li>
                    <li>Day time events in locations that don’t usually experience protest</li>
                    <li>Night time events in low traffic or supportive areas</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Direct Action events</li>
                    <li>Night time events in high traffic or contentious areas</li>
                    <li>Events where large numbers of counter protestors are expected</li>
                    <li>Events where large police presence is expected</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                What to Bring:
                <ul>
                    <li>Comfortable shoes for walking</li>
                    <li>Water to stay hydrated</li>
                    <li>Basic first aid (bandages, pain relievers, sun screen, extra face covering)</li>
                    <li>Emergency contact info, including lawyer</li>
                </ul>
                Suggested:
                <ul>
                    <li>Individual First Aid Kit</li>
                    <li>Signs or noise makers</li>
                    <li>Snacks for long events</li>
                </ul>
            </td>
            <td>
                What to Bring:
                <ul>
                    <li>Comfortable shoes for walking</li>
                    <li>Water to stay hydrated</li>
                    <li>Additional water or saline for eye washes</li>
                    <li>Basic first aid (bandages, pain relievers, sun screen, extra face covering)</li>
                    <li>Emergency contact info, including lawyer</li>
                </ul>
                Suggested:
                <ul>
                    <li>Individual First Aid Kit</li>
                    <li>Signs or noise makers</li>
                    <li>Snacks for long events</li>
                </ul>
            </td>
            <td>
                What to Bring:
                <ul>
                    <li>Shoes you can run in</li>
                    <li>Clothing that covers skin and identifying characteristics (colored hair, tattoos, etc)</li>
                    <li>Water to stay hydrated</li>
                    <li>Additional water or saline for eye washes</li>
                    <li>Basic first aid</li>
                    <li>Lawyer’s contact written on your body (arm not recommended)</li>
                </ul>
                Suggested:
                <ul>
                    <li>Individual First Aid Kit</li>
                    <li>Self defense items*: shields, body armor, helmets, bear spray, etc.</li>
                    <li>Phone at home or turned off</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<ul class="checklist-list">
    <li>
        Lower Risk
        <ul>
            <li>Comfortable shoes for walking</li>
            <li>Water to stay hydrated</li>
            <li>Basic first aid (bandages, pain relievers, sun screen, extra face covering)</li>
            <li>Emergency contact info, including lawyer</li>
            <li>Individual First Aid Kit</li>
            <li>Signs or noise makers</li>
            <li>Snacks for long events</li>
        </ul>
    </li>
    <li>
        Moderate Risk
        <ul>
            <li>Everything above, plus:</li>
            <li>Additional water or saline for eye washes</li>
        </ul>
    </li>
    <li>
        High Risk
        <ul>
            <li>Everything above, plus:</li>
            <li>Shoes you can run in</li>
            <li>Clothing that covers skin and identifying characteristics (colored hair, tattoos, etc)</li>
            <li>Lawyer’s contact written on your body (arm not recommended)</li>
            <li>Self defense items*: shields, body armor, helmets, bear spray, etc.</li>
            <li>Phone at home or turned off</li>
        </ul>
    </li>
</ul>
<span class="asterik">* Note that bringing these items may increase the likelihood of arrest or criminal charges</span>