<ul class="guide-list">
    <li class="btn">
        <a class="color" href="/protestguide/guides/portland/checklist">View Portland Guide</a>
        <a class="bw" href="/protestguide/bw/guides/portland/checklist">View Portland Guide</a>
    </li>
    <li class="btn">
        <a class="color" href="/protestguide/guides/protestor_handbook/checklist">View Protestor Handbook</a>
        <a class="bw" href="/protestguide/bw/guides/protestor_handbook/checklist">View Protestor Handbook</a>
    </li>
    <li class="btn">
        <a class="color" href="https://bit.ly/PDX-BLM-resources">Other Resources</a>
        <a class="bw" href="https://bit.ly/PDX-BLM-resources">Other Resources</a>
    </li>
</ul>