<div class="section-nav next-{{ page.nextTitle }} prev-{{ page.prevTitle }}">
    {% if page.prev %}
    <span class="btn prev">
        <a href="{{ page.baseURL }}{{ page.prev }}">&#8592; &nbsp; {{ page.prevTitle }}</a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="btn next">
        <a href="{{ page.baseURL }}{{ page.next }}">{{ page.nextTitle }} &nbsp; &#8594;</a>
    </span>
    {% else %}
    {% assign guidePath = page.baseURL | remove: '/portland' | remove: '/protestor_handbook' %}
    <span class="btn next">
        <a href="{{ guidePath }}">Return to guides</a>
    </span>
    {% endif %}
</div>