<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>Portland Protest Guide</title>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body class="{{ page.style }} {{ page.pageType }}">
    <a class="switch-style color" href="/bw">
        <div></div>
        <div></div>
    </a>
    <a class="switch-style bw" href="/">
        <div></div>
        <div></div>
    </a>
    <div class="wrapper">
        <header>
            <a href="/"><h2>Keep going <br> Keep Safe</h2></a>
            <h2>Keep going <br> Keep Safe</h2>
            <h2>Keep going <br> Keep Safe</h2>
            <span class="btn all-guides">
                <a class="color" href="/guides">View Guides</a>
                <a class="bw" href="/bw/guides">View Guides</a>
            </span>
            <ul class="guide-list">
                <li class="btn">
                    <a class="color" href="/guides/portland">View Portland Guide</a>
                    <a class="bw" href="/bw/guides/portland">View Portland Guide</a>
                </li>
                <li class="btn">
                    <a class="color" href="/guides/protestor_handbook">View Protestor Handbook</a>
                    <a class="bw" href="/bw/guides/protestor_handbook">View Protestor Handbook</a>
                </li>
            </ul>
        </header>
        <section>

            {{ content }}

            <ul class="guide-list">
                <li class="btn">
                    <a class="color" href="/guides/portland">View Portland Guide</a>
                    <a class="bw" href="/guides/bw/portland">View Portland Guide</a>
                </li>
                <li class="btn">
                    <a class="color" href="/guides/protestor_handbook">View Protestor Handbook</a>
                    <a class="bw" href="/guides/bw/protestor_handbook">View Protestor Handbook</a>
                </li>
            </ul>

        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a
                        href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>